<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms in Spring</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div>
            <label for="name"> Name </label>
            <div>
                <input type="text" th:field="*{name}" id="name" placeholder="Name" autocomplete="off">
            </div>
            <div th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">
            </div>
        </div>
        <div>
            <label for="lastName"> Last Name </label>
            <div>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" autocomplete="off">
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}">
            </div>
        </div>
        <div>
            <label for="username"> Username </label>
            <div>
                <!-- th:value="${user.username}" shows values after validation and refresh
                       th:filed="*{field}" maps object. & add name, value attribute.
                -->
                <input type="text" id="username" placeholder="Username" th:field="*{username}" autocomplete="off">
            </div>
            <div th:if="${#fields.hasErrors('username')}"
                th:errors="*{username}">
            </div>
        </div>
        <div>
            <label for="password"> Password </label>
            <div>
                <input type="password" th:field="*{password}" id="password" placeholder="Password" autocomplete="off">
            </div>
            <div th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">
            </div>
        </div>
        <div>
            <label for="email"> Email </label>
            <div>
                <input type="email" th:field="*{email}" id="email" placeholder="Email" autocomplete="off">
            </div>
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}">
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Save">
            </div>

        </div>


    </form>
</body>
</html>